html,
body {
  font: 62.5%;
  background: #fcfcfc;
}

.container {
  margin-top: 4rem;
}

.ui.menu.secondary {
  margin: 0;
  padding: 0;
}

.ui.stacked.segment:after {
  content: none;
}

.menu {
  position: fixed;
  top: 0px;
  z-index: 10001;
  width: 100%;
}
.pusher {
  margin-top: 36px;
}
.pushable {
  margin-top: 0px !important;
}
